extends layout

block content
  h1= title

  div.d-grid.gap-2.d-md-flex.justify-content-md-end
    a.btn.btn-outline-info(href="/") Users
  
  form(method="post", action="/users/insert")
    div.mb-3
      label.form-label(for="txtFirstName") First Name
      input.form-control#txtFirstName(type="text", placeholder="First Name", required="required", name="txtFirstName")  

    div.mb-3
      label.form-label(for="txtFirstName") Last Name
      input.form-control#txtLastName(type="text", placeholder="Last Name", required="required", name="txtLastName")

    div.mb-3
      label.form-label(for="txtEmail") Email Address
      input.form-control#txtEmail(type="email", placeholder="Email Address", required="required", name="txtEmail")

    div.btn-group(role="group")
      button.btn.btn-outline-danger(name="reset", type="reset") Reset
      button.btn.btn-outline-primary(name="submit", type="submit") Submit